# Jekyll site build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler files
.bundle/
vendor/

# Ruby environment
.ruby-gemset

# IDE/OS specific files
.DS_Store
.idea/
.vscode/
*.swp
*~
.project
.settings/
.buildpath

# Log files
*.log

# Notes
_notes/
/Users/wz/Desktop/zPersonalProjects/WarrenZhu050413.github.io/_posts/2023-05-30-citation-test.md

# Hidden Pages
/Users/wz/Desktop/zPersonalProjects/WarrenZhu050413.github.io/papers.md