# Jekyll site build files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler files
.bundle/
vendor/

# Ruby environment
.ruby-gemset

# IDE/OS specific files
.DS_Store
.idea/
.vscode/
*.swp
*~
.project
.settings/
.buildpath

# Log files
*.log

# Notes
_notes/
/Users/wz/Desktop/zPersonalProjects/WarrenZhu050413.github.io/_posts/2023-05-30-citation-test.md
.annotations/

# Hidden Pages
/Users/wz/Desktop/zPersonalProjects/WarrenZhu050413.github.io/papers.md
_posts/pdf/

# Claude-related files (except commands which we want to track)
.claude/settings.json
.claude/settings.local.json
/CLAUDE.md
doc.md
hooks
claude_html
claude_files/

# Python/CLI development files
.coverage
htmlcov/
build/
*.egg-info/
__pycache__/
*.pyc

# Poster files
CRAFT_poster*
