---
layout: default
---
<div class="home">
  {{ content }}

  {%- assign filtered_posts = site.posts | where_exp: "post", "post.relegated != true" -%}

  {%- if filtered_posts.size > 0 -%}
    <section class="posts-section">
      <h2 class="section-title">{{ page.list_title | default: "Writing" }}</h2>
      <ul class="post-list">
        {%- for post in filtered_posts -%}
        <li class="post-item">
          <article>
            <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date: "%b %d" }}
            </time>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </article>
        </li>
        {%- endfor -%}
      </ul>
    </section>
  {%- endif -%}
</div>
